:root {
    --color-primary: #06d806;
    --color-secondary: #7af47a;
    --color-accent: #ff218a;
    --color-headings: #043d12;
    --color-body: #8feeb3;
}

body {
    background: var(--color-primary);
}