<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Shop for Flowers</h1>
      <p class="hero__tagline">Buy flowers from anywhere in the world</p>
      <a href="" class="btn btn--accent btn--stretched"> Order Now </a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="images/stunning-crimson-pincushion-flower.webp"
      />
      <source
        type="image/png"
        srcset="images/stunning-crimson-pincushion-flower@2x.png"
      />
      <img
        class="hero__image"
        src="images/stunning-crimson-pincushion-flower.png"
        alt=""
      />
    </picture>
  </div>
</section>
