<nav class="nav collapsible">
  <a href="/">
    <svg class="icon nav__logo">
      <use xlink:href="images/sprite.svg#mountain-sun-solid-full"></use>
    </svg>
  </a>
  <svg class="icon nav__toggler">
    <use xlink:href="images/sprite.svg#bars-solid-full"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Shop</a></li>
    <li class="nav__item"><a href="#">Call</a></li>
    <li class="nav__item"><a href="#">Location</a></li>
  </ul>
</nav>
